doctype html
html
  head
    meta(charset='UTF-8')
    title Dialog Builder
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    header
      h4 Dialog Builder for Somnium Game
    .container
      #app-hook
    footer Made by Chris Carlson
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.1/react-bootstrap.min.js')
    script(src='js/index.js')

